{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Django Girls blog</title>
       <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" 
       integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
       <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css">
       <!--<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"> -->
        <!--<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"> -->
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
        <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
        
    </head>
    <body>
        <div class="page-header">
            {% if user.is_authenticated %}
                <!--新規投稿ボタン-->
                <a href="{% url 'post_new' %}" class="top-menu">
                    <!--<span class="glyphicon glyphicon-plus"></span>-->
                    <span class="bi-plus" alt="plus"></span>
                </a>
                <!--下書きリスト--> 
                <a href="{% url 'post_draft_list'%}" class="top-menu">
                    <!--<span class="glyphicon glyphicon-edit"></span>-->
                    <span class="bi-pencil-square" alt="edit"></span>
                </a>
                <!--ユーザー名表示とログアウト画面表示-->
                <p class="top-menu">Hello {{ user.username }}
                    <small>
                        (<a href="{% url 'logout' %}">Log out</a>)
                    </small>
                </p>
            <!--未ログイン（もしくはログアウト後の画面）-->
            {% else %}
                <a href="{% url 'login' %}" class="top-menu">
                    <!--<span class="glyphicon glyphicon-lock"></span>-->
                    <span class="bi-lock" alt="lock"></span>
                </a>
            {% endif %}
            <h1><a href="/">Django Girls Blog</a></h1>
        </div>
        <div class="search_area">
           <form method="get">
                <input type="search" value="*" name="query" type="text" placeholder="検索ワードを入力">
            <button>検索</button>
           </form>
           <br>
        </div>


        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                    {% block content %}
                    <!--ここの間の部分が動的に変化する-->
                    {% endblock %}
                </div>
            </div>
        </div>        
    </body>                
</html>