<!-- コンテンツの内容で絞り込んだ後のページ-->
<!-- post_contents_list.html -->
{% extends 'blog/base.html' %}

{% block content%}
<div>
   <h3>カテゴリー</h3>
   {% for category in category_list %}
        <a href="{% url 'category' category %}">
            <p style='float:left; margin-right: 5px'>
                {{ category.name }}
            </p>
        </a>
    {% endfor %}
</div>
<br>

<!-- 上記のfloatスタイルの影響を受けないようにしている(clear) -->
<h1 style="clear:both;">一覧</h1>
{% if category_key %}
    <h3>カテゴリー：{{ category_key }}</h3>
{% endif %}
<hr>

{% for post in post_list %}
    <div class="post">
        <div class="date">
            {{ post.published_date }}
            <div class="category">カテゴリー：{{ post.category }}</div>
        </div>
    <h2><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h2>        
    <p>{{ post.text | linebreaksbr }}</p>
        <a href="{% url 'post_detail' pk=post.pk %}">
            Comments:{{ obj.approved_comments.count }}
        </a>    
    </div>
{% endfor %}
{% endblock %}
