<!-- post_edit.html -->
<!-- 記事編集用ページ-->
{% extends 'blog/base.html' %}

{% block content %}
    <h2>New post</h2>
    <!--記事を編集→投稿する際にtokenを入れる-->
    <form method="POST" class="post-form">{% csrf_token %}
        {{ form.as_p }}
        <!--保存ボタン-->
        <button type="submit" class="btn btn-primary">Save</button>
        <!--<button type="submit" class="btn btn-default">Save</button>-->
        <!--リセットボタンを追加　リセットボタンにより編集部分がリセットされる-->
        <!--<button type="reset" class="btn btn-default">Reset</button>-->
        <button type="reset" class="btn btn-Light">Reset</button>
    </form>
{% endblock %}
