<!-- post_list.html -->
<!-- 'blog/base.html' より継承 -->
{% extends 'blog/base.html' %}
            
      {% block content %}
      <!--検索窓-->   
      <div class="search_area">
        <form method="get">
            <input type="search" value="{{ request.GET.query }}" name="query" type="text" placeholder="検索ワードを入力">
            <button>検索</button>
            <input type="reset">
        </form>
        <br>
    </div> 
    <!--以下は追加-->
   <!--<a href="{% url 'category' 'blog' %}">カテゴリーごとに並び替え</a> --> 
    

    <!--検索結果を表示-->
    {% if messages %}
        <ul class="messages" style="list-style:none;">
          
            {% for message in messages %}
                {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>
                    <div class="alert alert-danger" role="alert">
                       <h2>{{ message }}</h2> 
                    </div>
                </li>
                {% else %}
                <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>
                    <div class="alert alert-primary" role="alert"><h2>"{{ message }}"を含む検索結果：</h2>
                    </div>    
                </li>
            {% endif %}
            {% endfor %}
        </ul>
    {% endif %} 
    
    <!--カテゴリ絞り込みを行うときに表示-->
    {% if category_key %}
    <div class="alert alert-success" role="alert">
      カテゴリ別記事表示<br>
      <h3>カテゴリー：{{ category_key }}</h3>
      <hr>
      {% for category in category_list %}
        <a href="{% url 'category' category.name %}">
            <p style='float:left; margin-right: 10px'>
                {{ category.name }}
            </p>
        </a>
        {% endfor %}
        {% endif %}
    </div> 
      
    {% for post in page_obj %} 
      
    <div class="post">
       <div class="date">
           {{ post.published_date }}      
           <div class="category">
            <a href="{% url 'category' post.category.name %}">カテゴリー:{{ post.category.name }}</a>
           </div>
       </div>
       
       <h2><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h2>
        <p>{{ post.text| linebreaksbr }}</p>
    </div>
    <a href="{% url 'post_detail' pk=post.pk %}">
       <!--Comments:{#{ post.approved_comments.count }#}--> 
       Comments:{{ post.cnt }}
    </a>
    <br><br>
    {% endfor %} 


      {% comment %}
      {% for post in post_list %}
        <div class="post">
            <div class="date">
                {{ post.published_date }}
            </div>
            <h2><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h2>
            <p>{{ post.text | linebreaksbr }}</p>
        </div>
        <a href="{% url 'post_detail' pk=post.pk %}">
            Comments:{{ post.approved_comments.count }}
        </a>
        {% endfor %}    
       {% endcomment %}

    {% comment %}
        {% for post in posts %}
        <div class="post">
            <div class="date">
                {{ post.published_date }} 
            </div>             
            <h2><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h2>
            <p>{{ post.text | linebreaksbr }}</p>
            </div>
            <a href="{% url 'post_detail' pk=post.pk %}">
                Comments:{{ post.approved_comments.count }}
            </a>
            <!--<a href="<div data-gb-custom-block data-tag="url" data-0='post_detail'></div>
            ">Comments: {{ post.comments.count }}</a>-->
            {% endfor %}
    {% endcomment %}
        
    <!--以下はページネーション-->
    <nav aria-label="Page navigation">
        <ul class="pagination text-center">
          {% if page_obj.has_previous %}
            <li class="page-item">
              <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">前へ</span>
              </a>
            </li>
          {% endif %}
      
          {% for page_num in page_obj.paginator.page_range %}
                {% if page_num %}
                    {% if page_num == page_obj.number %}
                        <li class="disabled"><div class="page-link text-secondary d-inline-block disabled" href="#">{{ page_num }}</div></li>
                    {% else %}
                        <li><a class="page-link text-primary d-inline-block" href="?page={{ page_num }}{% if request.GET.query %}&query={{ request.GET.query }}{% endif %}">{{ page_num }}</a></li>
                    {% endif %}
                {% else %}
                    <li class="disabled"><a class="page-link text-secondary d-inline-block text-muted" href="#">・・・</a></li>
                {% endif %}
            {% endfor %}

          {% comment %}
          {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
              <li class="page-item active"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
            {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
              <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
            {% endif %}
          {% endfor %}
          {% endcomment %}
          
          {% if page_obj.has_next %}
            <li class="page-item">
              <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">次へ</span>
              </a>
            </li>
          {% endif %}
        </ul>
      </nav>

    {% endblock %}
